* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

/* TOPO */
/*.topbar {
  background: #000;
  color: #fff;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar button {
  background: #fff;
  color: #000;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.hidden {
  display: none;
}


/* MENU */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
  padding: 10px;
}

.topbar button {
  margin-right: 5px;
}

.logout {
  background: #c00;
  color: #fff;
  font-weight: bold;
}
.menu {
  background: #222;
  padding: 10px 20px;
}

.menu button {
  margin-right: 10px;
  background: #444;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

/* CONTEÚDO */
main {
  padding: 20px;
}

.section {
  display: none;
}

/* CARDS */
.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card input {
  padding: 8px;
  flex: 1;
}

.card button {
  padding: 8px 14px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* TABELA */
table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

th {
  background: #eee;
  text-align: left;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.admin-only button {
  background: #c00;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

.admin-only {
  display: inline-block;
}


/* LOGIN */
.login-body {
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 16px;
  text-align: center;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
}
